.md-form.md-bg input[type="text"] {
    background: #192734 no-repeat;
}
.md-form.md-bg input[type="text"]:focus {
    background-color: #192734;
    color: #fff;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }