.md-form.md-bg input[type="text"] {
    background: #192734 no-repeat;
}
.md-form.md-bg input[type="text"]:focus {
    background-color: #192734;
    color: #fff;
}

.login-wrapper {
    animation: fadeIn;
    animation-duration: 2s; 
}
/* .login-header-wrapper {
    animation: slideInLeft; 
    animation-duration: 1s; 
} */
.login-password-wrapper {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

.login-username-wrapper { 
    animation: fadeIn; 
    animation-duration: 1s; 
} 

/* .login-option-wapper {
    animation: slideInLeft; 
    animation-duration: 0.8s; 
} */